.App {
  text-align: center;
  /* background-color:black;
  color:white; */
  width:100%;
  height:100%;
}
 .mainContainer{
  display:flex;
  flex-direction:row;
  flex-wrap: wrap;
 
} 


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.imgCard{
  display:flex;
  flex-direction:column;
  justify-content:center;
  width:50%;
 
  padding:20px;

}


.imgContainer{
  width:100%;
}
.nasaImg{
  width:400px;
  height:auto;
}
.footer{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
}
.heart{
  margin-left:250px;
}



